@model IEnumerable<Employee>

  @{ 
      ViewBag.Title = "Emplo List";
  }
    <div class="card-deck">
        @foreach (var item in Model)
        {
             var photopath = "~/Images/" + (item.EmpPhoto ?? "mushu.jpg");
            <div class="card m-3">
                <div>
                    <h3>@item.Name</h3>
                </div>
                <img class="card-img-top" src=@photopath asp-append-version="true"/>
                <div class="card-footer text-center">
                    @*@Html.ActionLink("View","details","home",new {id=item.Id})*@
                    <a asp-controller="home" class="btn btn-primary m-1" asp-action="details" 
                       asp-route-id="@item.Id">View</a>
                    <a href="#" class="btn btn-info m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </div>

